{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "rules": {
    "no-tabs": 0,
    "no-restricted-globals": 0,
    "import/prefer-default-export": 0,
    "no-buffer-constructor": 0,
    "no-mixed-operators": 0,
    "no-plusplus": 0,
    "no-bitwise": 0,
    "prefer-promise-reject-errors": 0,
    "class-methods-use-this": 0,
    "import/no-cycle": 0,
    "prefer-destructuring": 0,
    "no-prototype-builtins": 0,
    "comma-dangle": ["error", "never"],
    "quotes": [2, "single"],
    "eol-last": 2,
    "no-debugger": 1,
    "no-mixed-requires": 0,
    "no-underscore-dangle": 0,
    "no-multi-spaces": 0,
    "no-trailing-spaces": 0,
    "no-extra-boolean-cast": 0,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-var": 2,
    "no-param-reassign": 0,
    "no-else-return": 0,
    "no-console": 0,
    "prefer-const": 2,
    "new-cap": 0,
    "camelcase": 2,
    "semi": [2, "never"],
    "valid-jsdoc": ["error"],
    "flowtype/define-flow-type": 1,
    "indent": [2, 2, {
     "FunctionDeclaration" : { "parameters": "first" },
     "FunctionExpression" : { "parameters": "first" },
     "ObjectExpression": "first",
     "ArrayExpression": "first",
     "ImportDeclaration": "first",
     "CallExpression": { "arguments": "first" }
     }],
     "function-paren-newline": 0
  }
}
